.left-navigation-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding-top: 58.65px;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    overflow: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    /* border: solid 1px blue; */
}

.left-navigation-container::-webkit-scrollbar {
    display: none;
}

.left-navigation-wrapper {
    display: flex;
    /* margin-top: 56px; */
    flex-direction: column;
    width: 88.2%;
    height: 100%;
    margin-right: 5px;
    /* border: solid 1px red; */
}

.left-navigation-home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 143px;
    padding-bottom: 3px;
    border-bottom: solid 1px #272727;
}

.left-nav-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    width: 96.5%;
    height: 40px;
    border-radius: 10px;
    background-color: #272727;
    /* cursor: pointer; */
}

.left-nav-home:hover {
    filter: brightness(1.75);
}

#left-nav-home, #left-nav-shorts, #left-nav-subs, #left-nav-liked {
    cursor: pointer;
}

#left-nav-shorts:hover {
    background-color: #272727;
    filter: brightness(1);
}

#left-nav-shorts:active {
    filter: brightness(1.75);
}

#left-nav-subs:hover {
    background-color: #272727;
    filter: brightness(1);
}

#left-nav-subs:active {
    filter: brightness(1.75);
}

#left-nav-subs, #left-nav-shorts, #left-nav-liked {
    background-color: transparent;
}

#left-nav-liked:hover {
    background-color: #272727;
    filter: brightness(1);
}

#left-nav-liked:active {
    filter: brightness(1.75);
}

.left-nav-home-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    /* border: solid 1px red; */
}

.left-nav-home-headers {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 10px;
    color: white;
    font-size: 14px;
}

#nav-left-house-icon {
    color: white;
    font-size: 18px;
}

#nav-left-github-icon {
    color: white;
    font-size: 21px;
}

#nav-left-linkedin-icon {
    color: white;
    font-size: 20px;
}

#left-nav-home-headers-thin {
    font-weight: 300;
}

.left-nav-liked-wrapper {
    display: flex;
    padding-bottom: 12px;
    border-bottom: solid 1px #272727;
}

.explore-channels-container {
    display: flex;
    width: 100%;
}

.explore-channels-wrapper {
    display: flex;
    flex-direction: column;
    width: 96.5%;
    padding-top: 12px;
    /* border: solid 1px red; */
}

#explore {
    font-size: 16px;
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 10px;
}

.explore-user-profile-pic {
    border-radius: 75%;
    width: 24px;
    height: 24px;
}

.explore-user-no-profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 75%;
    color: white;
    font-weight: 400;
    font-size: 12px;
    background-color: blueviolet;
}

#explore-user-headers {
    display: inline-block;
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
    max-height: 16.5px;
    max-width: 133px;
}

.left-nav-liked-wrapper {
    display: flex;
    flex-direction: column;
}

#left-nav-history {
    cursor: pointer;
}
