.dashboard-container {
    display: flex;
    /* padding-left: 80px; */
    padding-top: 130px;
    padding-left: 260px;
    height: 100vh;
    width: 100%;
    background-color: #0F0F0F;
    /* border: solid 1px red; */
}
