.dashboard-outer-container {
    min-height: 100vh;
    background-color: #0F0F0F;
}

.dashboard-container {
    display: grid;
    column-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 35px;
    justify-items: center;
    padding-top: 130px;
    padding-left: 265px;
    padding-right: 25px;
    padding-bottom: 20px;
    /* min-height: 100vh; */
    width: 100%;
    background-color: #0F0F0F;
    /* border: solid 1px red; */
}

.video-card-nav {
    height: fit-content;
}
