.video-cards-container {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 300px;
    /* border: solid 1px blue; */
}

.video-card-thumbnail {
    display: flex;
    height: 60%;
    margin-bottom: 10px;
    /* border: solid 1px green; */
}

.video-card-thumbnail-image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    /* border: solid 1px white; */
}

.video-card-info {
    display: flex;
    flex-direction: row;
    /* border: solid 1px red; */
}

.video-card-profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    height: 40px;
    min-width: 40px;
    margin-right: 10px;
    border-radius: 75%;
    background-color: blueviolet;
    /* border: solid 1px blue; */
}

.video-card-title-and-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: solid 1px purple; */
}

.video-card-title {
    color: white;
    height: 100%;
    height: fit-content;
    max-height: 42px;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    /* border: solid 1px yellow; */
}

.video-card-poster {
    display: flex;
    margin-top: 7px;
    color: #AAAAAA;
    font-size: 12px;
    /* border: solid 1px orange; */
}

.video-card-views-and-date {
    display: flex;
    flex-direction: row;
    margin-top: 2.5px;
    color: #AAAAAA;
    font-size: 12px;
    /* border: solid 1px green; */
}
