.top-nav-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    background-color: #0F0F0F;
    z-index: 2;
    /* border: solid 1px red; */
}

.top-nav-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;
    /* border: solid 1px red; */
}

.menu-and-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 137px;
    /* border: solid 1px blue; */
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13px;
    cursor: pointer;
}

#menu-bars {
    background-color: white;
    height: 1px;
    width: 18px;
}

#menu-hover {
    position: absolute;
    height: 41px;
    width: 41px;
    margin-left: -11.25775px;
    border-radius: 75%;
    cursor: pointer;
    /* border: solid 1px red; */
}

#menu-hover:hover {
    background-color: rgba(255, 255, 255, 0.165);
}

#logo {
    height: 25px;
}

#logo-nav {
    display: flex;
    align-items: center;
    /* margin-bottom: 2px; */
    /* border: solid 1px red; */
}

.signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    border-radius: 21px;
    border: solid 1px 	#484848;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #263950;
    border: solid 1px #263950;
}

.signin-button-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 80%;
    color: #3EA6FF;
    /* border: solid 1px red; */
}

#user-icon {
    font-size: 15px;
}

#user-signin-text {
    font-size: 14px;
    font-weight: 650;
}

.top-nav-right-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.top-nav-account-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 75%;
    cursor: pointer;
}

.top-nav-account-button:active {
    border: solid 1px #3EA6FF;
}

#top-nav-user-profile-pic {
    height: 100%;
    border-radius: 75%;
}

#top-nav-user-first-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 100%;
    min-width: 100%;
    border-radius: 75%;
    background-color: blueviolet;
}

.account-menu-popout {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    /* height: 105px; */
    margin-right: 245px;
    margin-top: 247px;
    background-color: #282828;
    border-radius: 12px;
    cursor: default;
}

.account-menu-popout-top-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105px;
    width: 100%;
    border-bottom: solid 1px #3E3E3E;
}

.account-menu-popout-top-inner-div {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 268px;
    /* border: solid 1px red; */
}

#account-menu-popout-profile-pic {
    height: 40px;
    border-radius: 75%;
    margin-right: 16px;
}

#account-menu-popout-first-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border: 75%;
    color: white;
    font-size: 20px;
    border-radius: 75%;
    background-color: blueviolet;
}

.account-menu-popout-name-and-username {
    display: flex;
    flex-direction: column;
    max-width: 212px;
    font-size: 16px;
    margin-top: 1.5px;
    color: #f1f1f1;
    overflow: hidden;
}

#account-menu-popout-name {
    margin-bottom: 3.5px;
    cursor: text;
}

#account-menu-popout-username {
    font-size: 15px;
    cursor: text;
}

#manage-your-account {
    font-size: 14px;
    margin-top: 10px;
    color: #3EA6FF;
}

.account-menu-popout-buttons-div {
    padding-top: 9px;
    padding-bottom: 9px;
}

.account-menu-popout-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 300;
    background-color: #282828;
    cursor: pointer;
}

.account-menu-popout-button-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    width: 85%;
    /* border: solid 1px red; */
}

.account-menu-popout-button-inner-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

#account-menu-popout-button-icon {
    font-size: 20px;
}

.account-menu-popout-button-text {
    margin-left: 21px;
}

.account-menu-popout-button-text2 {
    margin-left: 17px;
}

#account-menu-popout-bottom-button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.account-menu-popout-button:hover {
    filter: brightness(1.75);
}
