.top-nav-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    background-color: #0F0F0F;
    /* border: solid 1px red; */
}

.top-nav-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;
    /* border: solid 1px red; */
}

.menu-and-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 137px;
    /* border: solid 1px blue; */
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13px;
    cursor: pointer;
}

#menu-bars {
    background-color: white;
    height: 1px;
    width: 18px;
}

#menu-hover {
    position: absolute;
    height: 41px;
    width: 41px;
    margin-left: -11.07px;
    border-radius: 75%;
    cursor: pointer;
    /* border: solid 1px red; */
}

#menu-hover:hover {
    background-color: rgba(255, 255, 255, 0.165);
}

#logo {
    height: 25px;
}

#logo-nav {
    display: flex;
    align-items: center;
}

.signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    border-radius: 21px;
    border: solid 1px 	#484848;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #263950;
    border: solid 1px #263950;
}

.signin-button-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 80%;
    color: #3EA6FF;
    /* border: solid 1px red; */
}

#user-icon {
    font-size: 15px;
}

#user-signin-text {
    font-size: 14px;
    font-weight: 650;
}
