.add-video-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    height: 40px;
    width: 40px;
    margin-top: 1.75px;
    border-radius: 75%;
    /* border: solid 1px blue; */
    cursor: pointer;
}

.add-video-button-wrapper:hover {
    background-color: #272727;
}

.add-video-button-wrapper:active {
    background-color: #3C3C3C;
}

#video-add-icon {
    margin-top: 4px;
    /* margin-left: .5px; */
    width: 23px;
}

.upload-video-page-container {
    display: flex;
    flex-direction: column;
    height: 655px;
    width: 960px;
    border-radius: 6px;
    background-color: #282828;
}

.upload-video-page-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    border-bottom: solid 1px #3E3E3E;
}

.upload-video-page-top-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    /* border: solid 1px red; */
}

#upload-video-page-top-text {
    color: white;
    font-weight: 400;
    font-size: 19px;
}

#upload-video-page-top-x {
    color: #AAAAAA;
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
    margin-right: -8px;
    /* border: solid 1px blue; */
}

#upload-video-page-top-x:hover {
    color: white;
}

.upload-video-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 590px;
    /* border: solid 1px red; */
}

.upload-video-page-body-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -55px;
    /* border: solid 1px blue; */
}

.upload-video-page-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 136px;
    border-radius: 75%;
    background-color: #1F1F1F;
}

#upload-video-page-body-icon {
    color: #909090;
    font-size: 55px;
}

#drag-and-drop {
    color: white;
    font-size: 15px;
    margin-top: 25px;
    font-weight: 300;
}

#videos-private {
    color: #AAAAAA;
    font-size: 13px;
    margin-top: 10px;
}

#select-files-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #3EA6FF;
    width: 122px;
    height: 36px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.upload-video-page-bottom {
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    bottom: 40px;
    color: #AAAAAA;
    font-size: 12px;
}

.dont-have-video-and-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



#download-demo-here {
    color: #3EA6FF;
    margin-left: 3.4px;
    cursor: pointer;
}

.upload-video-details-form {
    display: none;
    align-items: center;
    justify-content: center;
    height: 590px;
    width: 100%;
    /* border: solid 1px red; */
}

.upload-video-details-form-inner {
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 90%;
    margin-top: -50px;
    /* border: solid 1px blue; */
}

.upload-video-details-form-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 62%;
    /* border: solid 1px green; */
}

#upload-video-details-form-details-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}

.upload-video-details-title-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: solid 1px #5F5F5F;
}

.upload-video-details-title-input:hover {
    border: solid 1px #8F8F8F;
}

.upload-video-details-input-labels {
    font-size: 12px;
    color: #AAAAAA;
    padding: 8px;
    padding-bottom: 5px;
    min-height: fit-content;
}

#upload-video-details-title-input-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    width: 100%;
    /* height: 100%; */
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    font-size: 15px;
    color: white;
    outline: none;
    /* border: solid 1px red; */
}

.upload-video-form-character-count {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 8px;
    font-size: 12px;
    color: #AAAAAA;
}

#title-cc {
    padding-top: 2px;
}

.upload-video-details-description-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 165px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px #5F5F5F;
}

.upload-video-details-description-input:hover {
    border: solid 1px #8F8F8F;
}

#upload-video-details-description-textarea-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    color: white;
    font-family: "Roboto","Arial",sans-serif;
    outline: none;
    border: none;
    overflow: auto;
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    /* border: solid 1px red; */
}

#description-cc {
    padding-bottom: 7px;
}

#upload-video-details-thumbnail-header {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

#upload-video-details-thumbnail-input-field {
    border: solid 1px #5F5F5F;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    color: white;
    font-size: 15px;
}

#upload-video-details-thumbnail-input-field:hover {
    border: solid 1px #8F8F8F;
}

.upload-video-details-form-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 53px;
    border-top: solid 1px #3E3E3E;
}

.upload-video-details-form-footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    /* border: solid 1px red; */
}

#upload-video-details-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 36px;
    font-size: 14px;
    background-color: #3EA6FF;
    border-radius: 2px;
    cursor: pointer;
}

#upload-cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    height: 36px;
    width: 75px;
    margin-right: 7px;
    border-radius: 28px;
    cursor: pointer;
    /* border: solid 1px red; */
}

#upload-cancel-button:hover {
    text-decoration: underline;
}

#loading {
    /* display: flex; */
    height: 15px;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.upload-form-title-errors {
    font-size: 12px;
    color: rgb(217, 48, 37);
    margin-bottom: 8px;
    margin-top: -12px;
}

.upload-form-thumbnail-errors {
    font-size: 12px;
    color: rgb(217, 48, 37);
    /* margin-bottom: 8px; */
    margin-top: 7px;
}
