.video-page-container {
    display: flex;
    padding-top: 56px;
    width: 100%;
    min-height: 5000px;
    background-color: #0F0F0F;
    /* border: solid 1px red; */
}

.video-page-inner-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.video-page-left-wrapper {
    display: flex;
    flex-direction: column;
    width: 69.025%;
}

#video-box {
    background-color: black;
    /* border: solid 1px red; */
}

.video-title {
    display: flex;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    line-height: 27px;
    max-height: 54px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.video-user-and-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    /* border: solid 1px red; */
}

.video-poster-info {
    display: flex;
    flex-direction: row;
    height: 40px;
    /* border: solid 1px blue; */
}

#video-poster-profile-pic {
    border-radius: 75%;
    object-fit: cover;
    min-height: 40px;
    min-width: 40px;
}

#video-poster-first-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    color: white;
    font-size: 20px;
    min-height: 40px;
    min-width: 40px;
    background-color: blueviolet;
}

.video-poster-name-and-subscribers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    height: 100%;
    margin-left: 12px;
    /* border: solid 1px green; */
}

#video-poster-username {
    max-height: 18.5px;
    font-size: 15.5px;
    font-weight: 500;
    color: white;
    overflow: hidden;
    /* border: solid 1px yellow; */
}

#video-poster-subscribers {
    margin-top: -2px;
    max-height: 13.5px;
    font-size: 11.5px;
    font-weight: 400;
    color: #AAAAAA;
    overflow: hidden;
}

.likes-and-dislikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 132px;
    height: 36px;
    background-color: #272727;
    border-radius: 18px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

#likes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    background-color: #272727
    /* border: solid 1px red; */
}

#likes:hover {
    filter: brightness(1.75);
}

#thumb-up-icon {
    color: white;
    font-size: 17px;
    margin-left: 1px;
}

#num-of-likes {
    max-width: 40px;
    overflow: hidden;
    color: white;
    font-weight: 500;
    font-size: 15px;
    /* border: solid 1px green; */
}

#likes-dislikes-spacer {
    height: 70%;
    width: 1px;
    background-color: #3D3D3D;
}

#dislikes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39%;
    height: 100%;
    background-color: #272727;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    /* border: solid 1px red; */
}

#dislikes:hover {
    filter: brightness(1.75);
}

#thumb-down-icon {
    color: white;
    font-size: 17px;
}

.video-page-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;
    margin-top: 15px;
    border-radius: 12px;
    background-color: #272727;
}

.video-page-description-inner-wrapper {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    /* border: solid 1px red; */
}

#video-description-header {
    display: flex;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

#video-description {
    display: flex;
    width: 100%;
    overflow: hidden;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}

#video-description-header-date {
    margin-left: 8px;
}

.video-page-comments-top-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    /* border: solid 1px red; */
}

#video-page-num-of-comments {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.video-page-post-comment-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    /* border: solid 1px blue; */
}

.create-comment-input-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.create-comment-input-field {
    font-family: "Roboto","Arial",sans-serif;
    resize: none;
    width: 96%;
    height: 65.5%;
    max-height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
    border-bottom: solid 1px #272727;
}

.create-comment-input-field::placeholder {
    color: #AAAAAA;
}
